*{margin: 0;
padding: 0;}
section {
    position: relative;
    background-image: url(/fernand-de-canne-2fNMdA6a5ck-unsplash.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    display: flex;
    justify-content:space-around;
    align-items: center;
    overflow: hidden; /* чтобы псевдоэлемент не вылезал за пределы */
  }
  
  section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
background-color: rgba(0, 0, 0, 0.432);
    z-index: 1;
  }
  
  /* Поднимаем контент поверх затемнения */
  section > * {
    position: relative;
    z-index: 2;
  }
  

.right{display: flex;
flex-direction: column;
align-items: center;
text-align: center;

}
.left{display: flex;
    flex-direction: column;
    align-items: center;
    }
.right button{width: 300px;
    height: 10vh;
  font-family: "Tinos", serif;
  font-size: xx-large;
  box-shadow: 20px 20px 20px  black;
  background-color: rgba(255, 3, 3, 0.43);
  color: white;
  
    
    
    }
    .right button img{width: 30%;
        border-radius: 10%;
        height: 7vh;
        margin-right: 20%;
        
        
        }
    .left button{width: 300px;
        background-color: rgba(255, 3, 3, 0.43);
        color: white;
        height: 10vh;
        font-family: "Tinos", serif;
        font-size: xx-large;
        box-shadow: 20px 20px 20px  black;

        }

        .right button:hover{background-color: rgba(0, 0, 0, 0.519);
            color: rgb(255, 0, 0);
           
            
            }
            .left button:hover{background-color: rgba(0, 0, 0, 0.519);
                color: rgb(255, 0, 0);
             
               
                
                }
                .right img{width: 100%;
                border-radius: 10%;
                margin-bottom: 23%;
            height: 7vh;}
                .left img{width: 100%;
                    margin-bottom: 40%;

                border-radius: 10%;
            height: 7vh;}
            .left img,
.right img {
  animation: img 1.5s ease-in-out forwards;
}

            @keyframes img {
                0% {
                    animation-timing-function: ease-in;
                    opacity: 1;
                    transform: translateY(45px);
                }
            
                24% {
                    opacity: 1;
                }
            
                40% {
                    animation-timing-function: ease-in;
                    transform: translateY(24px);
                }
            
                65% {
                    animation-timing-function: ease-in;
                    transform: translateY(12px);
                }
            
                82% {
                    animation-timing-function: ease-in;
                    transform: translateY(6px);
                }
            
                93% {
                    animation-timing-function: ease-in;
                    transform: translateY(4px);
                }
            
                25%,
                55%,
                75%,
                87% {
                    animation-timing-function: ease-out;
                    transform: translateY(0px);
                }
            
                100% {
                    animation-timing-function: ease-out;
                    opacity: 1;
                    transform: translateY(0px);
                }
            }         
            /* Начальное состояние для анимации */
.fade-in-left, .fade-in-right {
    opacity: 0;
    transform: translateX(200px); /* по умолчанию справа */
    transition: all 1s ease;
  }
  
  .fade-in-left {
    transform: translateX(-100px); /* если слева */
  }
  
  /* После появления */
  .show {
    opacity: 1;
    transform: translateX(0);
  }
  @media(max-width:600px) {
    section{display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}

    .left{padding: 10%;
        }
        .left button{width:250px;
            background-color: rgba(255, 3, 3, 0.43);
            color: white;
            height: 10vh;
            font-family: "Tinos", serif;
            font-size: xx-large;
            box-shadow: 20px 20px 20px  black;
    
            }
            .right button{width:250px;
                background-color: rgba(255, 3, 3, 0.43);
                color: white;
                height: 10vh;
                font-family: "Tinos", serif;
                font-size: xx-large;
                box-shadow: 20px 20px 20px  black;
        
                }
  }
  @media(max-width:300px) {
    section{display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}

    .left{padding: 10%;
        }
        .left button{width:150px;
            background-color: rgba(255, 3, 3, 0.43);
            color: white;
            height: 15vh;
            font-family: "Tinos", serif;
            font-size: xx-large;
            box-shadow: 20px 20px 20px  black;
    
            }
            .right button{width:150px;
                background-color: rgba(255, 3, 3, 0.43);
                color: white;
                height: 15vh;
                font-family: "Tinos", serif;
                font-size: xx-large;
                box-shadow: 20px 20px 20px  black;
        
                }
  }